.form-register{
    gap: 13px;
}

.input-register{
    height: 50px;
    padding-left: 15px;
    border-radius: 0px;
    border: none;
    outline: 1px solid rgba(201, 201, 201, 0.856);
    font-size: var(--font-size-8);
    font-family: var(--font-family-1);
    color: gray;
}

.input-options{
    height: 30px;
    width: 270px;
    padding-left: 5px;
    border-radius: 0px;
    border: none;
    outline: 1px solid rgba(201, 201, 201, 0.856);
    font-size: var(--font-size-8);
    font-family: var(--font-family-1);
    color: gray;
}